<%= render 'layouts/header' %>
<div id="wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
	
	<!-- End Top Navigation -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================= -->
	<%= render 'layouts/navbar' %>
	<!-- ============================================================== -->
	<!-- End Left Sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page Content -->
	<!-- ============================================================== -->
	<div id="page-wrapper">
	    <div class="container-fluid">
	        <div class="row bg-title">
	            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					 <h4 class="page-title">All Events Being Tracked</h4>
	            </div>
	            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
	                <!-- <a href="#" target="_blank" class="btn btn-info pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">DEMO</a>
	                 -->
	                <!-- <a href="/dashboard/emptystate" type="button" class="btn btn-info pull-right">
									empty state
									</a> -->
	            </div>
	            <!-- /.col-lg-12 -->
	        </div>
	        <% if flash[:notice] && @user.sign_in_count<=1%>
                    <div class="alert alert-success" role="alert">
                        <%= flash[:notice] %>
                    </div>
            <%end%>
	        <!-- ============================================================== -->
	        <%i=1%>
	        <%x=0%>
	        <%y=1%>
	       
	        <%row = @events.length/2.0%>
	        <%row = row.round(-0.5)%>

	       
	        <%while i <= row%>
	        	 <div class="row">
	        	 	<div class="col-lg-6 col-sm-6 col-xs-12">
	        	 		<div class="white-box">
		            		<%=@events[x][0]%><%=@events[x][1]%>
		            	</div>
		            </div>

		            <%if @events[y].nil? == false%>
			            <div class="col-lg-6 col-sm-6 col-xs-12">
			            	<div class="white-box">
			            		<%=@events[y][0]%><%=@events[y][1]%>
			            	</div>
			            </div>
		            <%end%>

	            </div>
	            <%x = x+2%>
	            <%y = y+2%>
	            <%i = i+1%>
	          <%end%>
	        </div>        
     <!-- /.row -->      
	    </div>
	    <!-- /.container-fluid -->
	    <%= render 'layouts/footer' %>
	</div>
<!-- /#page-wrapper -->
</div>

